<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/profile.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <script src="js/profile/jquery-3.3.1.js"></script>
        <script src="js/profile/web3.min.js"> </script>
        <script src="js/profile/bootstrap.min.js"></script>
        <script src="dist/historyBundle.js"></script>
        <script src="js/axios.min.js"></script>

    </head>
    <body>

        <nav class="nav justify-content-end">
            <a class="nav-link active" href="/home">Home</a>
            <a class="nav-link" href="./check">Check</a>
            <a class="nav-link" href="./logout">Logout</a>
            <!-- <a class="nav-link disabled" href="#"></a> -->
        </nav>
        <div class='warning'>

        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-3 ">
                        <div class="list-group ">
                        <a href="./profile" class="list-group-item list-group-item-action ">Profile</a>
                        <a href="./brand" class="list-group-item list-group-item-action">Brand</a>
                        <a href="./product" class="list-group-item list-group-item-action ">Products</a>
                        <a href="./createBarcode" class="list-group-item list-group-item-action">Create barcode</a>
                        <a href="#" class="list-group-item list-group-item-action">Verified</a>
                        <a href="./history" class="list-group-item list-group-item-action active">History</a>
                        <a href="./explorer" class="list-group-item list-group-item-action">Explorer</a>
                      <!-- <a href="#" class="list-group-item list-group-item-action">Media</a> -->
                      <!-- <a href="#" class="list-group-item list-group-item-action">Post</a>
                      <a href="#" class="list-group-item list-group-item-action">Category</a>
                      <a href="#" class="list-group-item list-group-item-action">New</a>
                      <a href="#" class="list-group-item list-group-item-action">Comments</a>
                      <a href="#" class="list-group-item list-group-item-action">Appearance</a>
                      <a href="#" class="list-group-item list-group-item-action">Reports</a>
                      <a href="#" class="list-group-item list-group-item-action">Settings</a> -->
                      
                      
                    </div> 
                </div>
                
                <div class="col-md-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <!-- <div class="col-md-12">
                                        <h4>Your product</h4>
                                        <hr>
                                    </div> -->
                                </div>
                                <div class="row ">
                                    <div class="col-md-12">
                                        <p id="product_warning"></p>
                                    </div>
                                </div>

                                <div class="row">
                                        <div class="col-md-12">
                                            <h4>History</h4>
                                            <hr>
                                        </div>
                                    </div>

                               <div class="row">
                                   <div class="col-md-12">
                                        <p>History for: </p>
                                        <table class="table">
                                            <tr>
                                                <th id="historyItem"></th>
                                                <td id="historyAddress"></td>
                                            </tr>
                                        </table>
                                        <div class="table-responsive">
                                                <table class="table" width='100%'>
                                                        <thead>
                                                            <tr>    
                                                                
                                                                <th scope="col">Company address</th>
                                                                <th scope="col">Brand address</th>
                                                                <th scope="col">Event</th>
                                                                <th scope="col">Timestamp</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id='historyTable'>
            
                                                        </tbody>
                                                    </table>
                                        </div>
                                       
                                   </div>
                                 <!-- <input class="form-control" id="historySearch" type="text" placeholder="Search.."> -->
                                 
                               </div>

                            </div>
                        </div>
                </div>




            </div>
        </div>

    </body>
</html>